/* Estilos específicos para la navbar */
.navbar-bg {
    background-color: #4d0000;
}
.nav-button {
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 9999px;
}
.nav-button.active {
    background-color: #aa2929;
}
.nav-button.inactive {
    background-color: #660000;
}
.nav-button.inactive:hover {
    background-color: #CC3939;
}
.mobile-nav-item {
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    height: 3rem;
    width: 100%;
    border-bottom: 2px solid #8B0000;
}
.mobile-nav-item.active {
    background-color: #aa2929;
}
.mobile-nav-item.inactive {
    background-color: #660000;
}
.mobile-nav-item.inactive:hover {
    background-color: #aa2929;
}
.lang-popup {
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    right: 0;
    background-color: #660000;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 50;
}
.lang-option {
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
    color: white;
    cursor: pointer;
}
.lang-option:hover {
    background-color: #aa2929;
}
.loading-overlay {
    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}